*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Roboto, Helvetica, sans-serif;
}

.modal-wrapper{
    backgrond:white;
    width:80%;
    max-width: 800px;
    margin:4rem auto;

}

.modal-header{
    background: black;
    color: grey;
    padding: 1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.modal-header span{
    font-size: 1.5rem;
    cursor:pointer;
}

.modal-content{
    padding:1.5rem, 1rem;

}

.modal-body{
    margin-bottom:1rem;
}
.modal-body h4{
    font-size: 1.8rem;
    color:orange;
}
.modal-footer button{
    display:block;
    font-size: 1rem;
    margin-left:auto;
    padding: 0.5rem 1.8rem;
    background:orange;
    color:white;
    border: none;
    outline:none;
    cursor:pointer;
}
