.Playlists-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Playlists-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
