.Playlists-wrap {
  padding-bottom: 100px;
}

.Playlists-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Playlists-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
