.cover {
  position: relative;
  bottom: 0;
  text-decoration: none;
  background-color: #a52a2a;
  display: flex;
  width: 15vw;
  height:25vh;
}

.cover p {
  display: flex;
  position: relative;
  flex-direction: column;
}
.cover .numbers p {
  padding: 5px;
  display: flex;
}
.cover img {
  display: flex;
  position: relative;
  width: 10vw;
  height: auto;
}

.songName{
  display: flex;
}