.entity{
  vertical-align: top;
  display: inline-block;
}

.p{
  background-color: #79f7ff;
}

.footer{
 display: inline;
  background-color: #5cabff;
}

.a{
    background-color: #5cabff;
}
.image{
  width:400px;
  height: auto;
}