.entity{
  vertical-align: top;
  display: inline-block;
  padding-right: 20px;
  width: 20%;
  float: end;
    text-align: center;
}

.p{
  background-color: #79f7ff;
    margin: auto;
}

.footer{
 display: inline;
  background-color: #5cabff;
}

.image {
    width: 100%;
    height: 100%;
}