.list{
    color: var(--clr-lightText);
}


.list a{
    align-self: center;
    text-decoration: none;
    color: var(--clr-lightText);
}


.list li{
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-lightBackground);
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

#demo-simple-select{
    background-color: var(--clr-lightBackground);
    color: var(--clr-lightText);
}

#playlist-label-id{
    align-self: center;
}

#playlist{
    height: fit-content;
    align-self: center;

}

.user .profileImage{
    width:150px;
    height: auto;
}