.container {
    width: 80%;
    padding: 1vw;
    margin: 0 auto;
    display: block;
    text-align: center;
}


.header{
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

.buttonHolder{
    margin: 10px auto;
    width: 25%;
}
