.Profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Profile-header h3 {
  margin: 0 0 30px;
}

.Profile-image {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  /* overflow: hidden; */
  /* position: relative; */
  background-position: center;
  background-size: cover;
}

.Profile-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Profile-content span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.Profile-content span p {
  line-height: 3.5rem;
  color: var(--sky);
  padding: 0;
  margin: 0;
}

.hr {
  display: block;
  border-style: inset;
  border-width: 1px;
  width: 100%;
}

.Profile-buttons-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
