.newUser:link,
.newUser:visited {
  background-color: #5f36f4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-flexbox;
  float: right;
  position: relative;
  z-index: 1;
}

.newUser:hover,
.newUser:active {
  background-color: #4326ac;
}
.login:link,
.login:visited {
  color: rgb(247, 244, 244);
  border: 1px solid rgb(247, 244, 244);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-flexbox;
  float: right;
  position: relative;
  z-index: 1;
}
.login:hover,
.login:active {
  background-color: #4326ac;
  color: white;
}

.creators:link,
.creators:visited {
  background-color: #5f36f4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-flexbox;
  float: right;
  position: relative;
  z-index: 1;
}

.creators:hover,
.creators:active {
  background-color: #4326ac;
}

.logo {
  height: 6rem;
  width: 6rem;
  position: absolute;
  z-index: -1;
  float: inline-start;
}
.logotext {
  position: absolute;
  z-index: 3;
  float: inline-start;
}

.Navbar-link{

position: -ms-page;

}

.link-ul{
  width: 100%;
}
