.FollowLateralBar-nav {
  background-color: var(--clr-lightBackground);
  color: white;
  height: 100%;
  overflow: scroll;
  position: fixed;
  right: 0px;
  width: 18%;
  z-index: 100;
  padding: 30px 50px;
}

.FollowLateralBar-nav h1 {
  margin: 0;
}

.FollowLateralBar-nav-p {
  font-weight: 100;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.FollowLateralBar-userItems {
  margin-top: 30px;
}

@media screen and (max-width: 1300px) {
  .FollowLateralBar-nav {
    visibility: hidden;
  }
}
