.searchBar {
  color: white;
  /*width: 100%;*/
  flex-direction: column;
  border: none;
}

.searchBar:hover{
  outline: none;
  border:none;
}

.searchBar ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.searchBar li {
  display: flex;
  padding-left: 2rem;
  color: white;
  margin-top: 2rem;

}

.searchBar input {
  width: 250px;
  height: 10px;
}

.searchBar label {
  font-weight: 700;
  font-size: medium;
}
