.searchBar {
  color: black;
  width: 100%;
  flex-direction: column;
  margin-left: 2rem;
  border: none;
}

.searchBar:hover{
  outline: none;
  border:none;
}

.searchBar ul{
  display: flex;
}

.searchBar li {
  display: flex;
  padding-left: 2rem;
  color: black;
  margin-top: 2rem;
}

.searchBar input {

  width:45vw;
  height: 2vh;
}

.searchBar label {
  font-weight: 700;
  font-size: medium;
}
