*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.CoverMd-wrap {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.CoverMd-img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  transition: all 250ms ease;
}

.icon-wrapper {
  width: 100%;
  height: 200px;
  top: 0;
  border-radius: 20px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: transparent;
  transition: all 250ms ease;
}

.icon-wrapper:hover {
  color: #fff;
  background-color: #23232390;
  backdrop-filter: blur(4px);
  border: 3px solid rgba(128, 128, 128, 0.5);
}

.play-icon {
  transform: translateX(2px) scale(1.3);
}
.icon-mini {
  transform: scale(0.8);
}

.CoverMd-text {
  padding: 10px;
  background-color: transparent;
  z-index: 1;
  line-height: 1.4rem;
}

.CoverMd-text p {
  margin: 0;
  padding: 0;
}

.CoverMd-text a {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1rem;
}

.CoverMd-text a:hover {
  color: var(--sky);
}

.CoverMd-title {
  text-decoration: none;
  color: white;
}

.CoverMd-author {
  color: rgb(250, 250, 250);
  font-size: 0.8rem;
}

.CoverMd-description {
  color: rgb(250, 250, 250);
  font-size: 0.8rem;
}

.CoverMd-category {
  color: rgb(250, 250, 250);
  font-size: 0.65rem;
}

.PlayButton {
  position: relative;
  transition: transform ease-in-out 190ms;
  cursor: pointer;
}

.PlayButton::before,
.PlayButton::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
}

.PlayButton::before {
  z-index: 10;
  transition: opacity 75ms linear, background-color 100ms linear;
}

.PlayButton:hover::before {
  background: white;
}

.PlayButton:hover::after {
  background: white;
  z-index: 1;
  animation: pulse 1250ms infinite;
}


.FavoriteIcon {
  position: relative;
  transition: transform ease-in-out 190ms;
  cursor: pointer;
}

.FavoriteIcon::before,
.FavoriteIcon::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
}

.FavoriteIcon::before {
  z-index: 10;
  transition: opacity 75ms linear, background-color 100ms linear;
}

.FavoriteIcon:hover::before {
  background: white;
}

.FavoriteIcon:hover::after {
  background: #f9b807;
  z-index: 1;
  animation: pulse 1250ms infinite;
}


@keyframes pulse {
  0% {
    transform: scale(0.85);
    opacity: 0.75;
  }
  100% {
    transform: scale(1.25);
    opacity: 0;
  }
}
