.rhap-container{
    outline: #79f7ff;
    background-color: #79f7ff;
}

.rhap-header{
    background-color: #79f7ff;
}

.player-image {
        width: 50px;
        min-height: 50px;
        border-radius: 10px;
        background-position: center;
        background-size: cover;  
}