:root {
  --gradientPinkOr: linear-gradient(
    44deg,
    rgba(233, 70, 138, 1) 0%,
    rgba(249, 184, 76, 1) 100%
  );
  --gradientPinkSky: linear-gradient(
    44deg,
    rgba(233, 70, 138, 1) 0%,
    rgba(76, 226, 249, 1) 100%
  );
  --gradientBlue: linear-gradient(
    44deg,
    rgba(11, 30, 69, 1) 36%,
    rgba(76, 226, 249, 1) 100%
  );
  --gradientBluePink: linear-gradient(
    44deg,
    rgba(11, 30, 69, 1) 11%,
    rgba(233, 70, 138, 1) 100%
  );
  --or: #f9b807;
  --pink: #e9468a;
  --sky: #4ce2f9;
  --darkBlue: #0b1e45;
  --lightGrey: rgb(175, 175, 175);

  --clr-darkBackground: #131325;
  --clr-inactiveField: #141421;
  --clr-lightBackground: #1b1b2c;
  --clr-highlightText: #4ce2f9;
  --clr-lightText: #4ce2f9;
  /* --clr-lightText: #1da79e; */
  --clr-dimText: #414141;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

.MainRouter-wrap {
  background-color: var(--clr-darkBackground);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  padding: 80px 150px 60px 140px;
  padding-right: 21%;
  margin-bottom: 110px;
  width: auto;
}

.Mainrouter-player {
  background-color: white;
  margin-top: 20px;
  padding-left: 80px;
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 82%;
}

svg{
  cursor: pointer;
  transition: ease-out;

}

button{
  cursor: pointer;
}

@media screen and (max-width: 1300px) {


  .MainRouter-wrap {
    padding-right: 60px;
  }

  .Mainrouter-player {
    width: 100%;
  }
}
