* {
  margin: 0;
  padding: 0;
}

.sliderimg {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.App {
  color: rgb(255, 255, 255);
}

.newUser {
  background-color: orangered;
}

.logo {
  height: 6rem;
  width: 6rem;
  position: absolute;
  z-index: -1;
  float: inline-start;
}
.logotext {
  position: absolute;
  z-index: 3;
  float: inline-start;
}
.carousel {
  background-color: white;
  position: absolute;
  width: 100%;
  margin-top: 0;
}

.newUser:link,
.newUser:visited {
  background-color: #5f36f4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-flexbox;
  float: right;
  position: relative;
  z-index: 1;
}

.newUser:hover,
.newUser:active {
  background-color: #4326ac;
}
.login:link,
.login:visited {
  color: rgb(247, 244, 244);
  border: 1px solid rgb(247, 244, 244);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-flexbox;
  float: right;
  position: relative;
  z-index: 1;
}
.login:hover,
.login:active {
  background-color: #4326ac;
  color: white;
}

.creators:link,
.creators:visited {
  background-color: #5f36f4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-flexbox;
  float: right;
  position: relative;
  z-index: 1;
}

.creators:hover,
.creators:active {
  background-color: #4326ac;
}

.searchBar {
  position: fixed;
  bottom: 10px;
  margin-left: 6rem;
}

.searchBar li {
  display: inline;
  padding-right: 3.5rem;
}

.searchBar input {
  margin-left: 2rem;
}

.searchBar label {
  font-weight: 700;
  font-size: xx-large;
}
